.trippage-maincontainer{
    display: flex;
    justify-content: space-between;
}

.trippage-container-left{
    width: 50%;
    height: 100vh;
}

.trippage-container-right{
    width: 50%;
    height: 100vh;
}

accordion {
    max-width: 400px;
    margin: 100px auto 0;
    border-radius: 3px;
    background: #f1f1f1;
}



.accordion-visible h2 {
    font-size: 20px;
}

.accordion-toggle {
    
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    display: none;
}

.animated {
    
    visibility: visible;
    opacity: 1;
    height: auto;
    max-width: 999px;
    overflow: visible;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    display: block;
}
