

.budget-container{
    display: flex;
    background-color: #eaeaea;
    height: 111px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;
}

.value-container{
    display: flex;
    align-self: center;
    width: 70%;
    height: 90px;
    border-right: solid 2px #c8c7c7;
    margin-left: 30px;
}

.button-show{
    border: none;
    background-color: #166678;
    width: 70px;
    color: white;
    font-size: 14px;
    height: 40px;
    align-self: center;
    border-radius: 6px;
    cursor: pointer;
    margin: auto;
    font-weight: 600;
}

.button-hide{
    display: none;
}


.value{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: solid 4px #c8c7c7;
    width: 75%;
}

#edits{
    border: none;
    outline: none;
    font-size: 30px;
    background-color: transparent;
    width: inherit;
}



.value h1{
    font-size: 24px;
    font-weight: 500;
    align-self: center;

}

#dolarIcon{
    margin-right: 20px;
    align-self: center;
    margin-bottom: 10px;
}

.edit-budget{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 30%;
    height: 90px;
    margin-left: 30px;


}

.edit-conf{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    padding: 10px;
}

.edit-conf p{
    font-size: 15px;
    margin-left: 20px;
    font-weight: 600;
}