.edit-trip-container{
    width: 100%;
    margin-left: 50px;
}

#placeTitle{
    margin-top: 30px;
    font-size: 32px;
}

.date-trip{
    display: flex;
    margin: 14px 0px;
}

.date-trip h3{
    margin-left: 20px;
    color: #bcc8c7;
    font-size: 16px;
    align-self: center;
}

.accordion {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accordion-title {
    margin-top: 40px;
    font-size: 18px;
    display: flex;
    cursor: pointer;
    width: 100%;
}

.accordion-title-budget {
    margin-top: 40px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.accordion-title-budget button{
    font-size: 12px;
    font-weight: bold;
    width: 110px;
    height: 40px;
    border: none;
    background-color: #166678;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.budget-title{
    cursor: pointer;
    display: flex;
    width: 80%;
}

.title{
    font-weight: 500;
    font-size: 24px;
}

.toggle {
    transform: rotate(180deg);
    margin-right: 20px;
    height: 16px;
    align-self: center;
    transition: all 0.3s ease;
}

.accordion img.toggle[aria-expanded="true"] {
    transform: rotateZ(0deg);
}

.accordion-content {
    margin-top: 20px;
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.8s ease-in-out;
}

.accordion-content[aria-expanded="true"] {
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}