.navbartrip-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    box-shadow: 1px 8px 9px 0px rgba(138,134,134,0.79);
    -webkit-box-shadow: 1px 8px 9px 0px rgba(138,134,134,0.79);
    -moz-box-shadow: 1px 8px 9px 0px rgba(138,134,134,0.79);
    border-radius: 2px;
}

.navbartrip-content {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#no-decoration{
    text-decoration: none;
    color: rgb(32, 31, 31);
}

.navbar-usericon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-usericon img{
    width: 51px;
}