.preview-container{
    display: flex;
    justify-content: space-between;
    height: max-content;
    padding: 10px 0;
}

.preview-word{
    width: 65%;
}

.preview-image{
    display: flex;
    width: auto;
}

.preview-image img{
    width: 180px;
    height: 130px;
    border-radius: 10px;
}

.preview-title{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

.preview-title p{
    font-size: 14px;
    width: 20px;
    background-color: #166678;
    border-radius: 50%;
    text-align: center;
    align-self: center;
    color: #FFF;
}

.preview-title h5{
    margin-left: 10px;
    font-size: 18px;
    padding: 5px;
}

.preview-desc p{
    font-size: 15px;
    margin: 10px 0 25px 0;
}