.herosection-nav {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-top: 40px;
}

.herosection-nav h1 {
  cursor: pointer;
  margin: 24px;
}
.herosection-nav h1 span {
  color: #166678;
}

.herosection-navbar {
  display: flex;
}

.herosection-navbar a {
  cursor: pointer;
  align-self: center;
  margin: 0 25px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.herosection-user {
  display: flex;
}

.herosection-user li {
  cursor: pointer;
  margin: 30px;
  font-size: 18px;
  font-weight: 600;
}

.herosection-user #sign-up {
  color: #166678;
}

.herosection-user img {
  cursor: pointer;
  width: 50px;
}

.drop-down-menu{
  position: relative;
}

.drop-down-menu h1{
  font-size: 30px;
}

.drop-down-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.drop-down-menu:hover .drop-down-content {
  display: flex;
  flex-direction: column;
}

.link-nav{
  text-decoration: none;
  transition: all 0.3s ease;
  color: #000;
  padding: 12px;
  font-weight: 500;
}

.link-nav:hover{
  background-color: #166678;
  border-radius: 5px;
  color: #FFF;
}